* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: fantasy;

}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: black;
}
.wrap {
  display: inline-flex;
}
.wrap .static {
  color: cornsilk;
  font-size: 4em;
  font-weight: 400;
}
.wrap .dynamic {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic li {
  list-style: none;
  font-size: 4em;
  font-weight: 500;
  color: rgb(73, 223, 190);
  animation: slide 6s steps(4) infinite;
  top: 0%;
  position: relative;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic li span {
  position: relative;
}

.dynamic li span::after {
  content: "";
  position: absolute;
  left: 0%;
  height: 100%;
  width: 100%;
  background: black;
  border-left: 2px solid rgb(107, 219, 247);
  animation: typing 2s steps(6) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
 